# Don't commit compiled programs
matatu
matatu.exe
*.o
*.out
*.obj
*.exe

# Ignore build folders
build/
bin/
out/

# IDE stuff I don't need in git
.vscode/
.idea/
*.suo
*.sln
*.vcxproj*

# OS files
.DS_Store
Thumbs.db
